<h2 class="title">Types of Loops</h2>
<div class="example">
  <div>
    <label>Iterations</label>
    <input #iterations [value]="initialValue"
           type="number"
           min="1"
           max="1000000000"
           (change)="setItems(iterations.value)">
  </div>
  <div class="buttons">
    <button (click)="start()">Start</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Metric</th>
        <th>ops/s</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Functional (forEach)</td>
        <td>{{ functionalLoopRuntime }}</td>
      </tr>
      <tr>
        <td>For</td>
        <td>{{ regularForRuntime }}</td>
      </tr>
      <tr>
        <td>While</td>
        <td>{{ whileRuntime }}</td>
      </tr>
      <tr>
        <td>Do While</td>
        <td>{{ doWhileRuntime }}</td>
      </tr>
      <tr>
        <td>For In</td>
        <td>{{ forInRuntime }}</td>
      </tr>
      <tr>
        <td>For Of</td>
        <td>{{ forOfRuntime }}</td>
      </tr>
    </tbody>
  </table>
</div>
