<h2 class="title">Branchless Programming</h2>
<div class="example">
  <div>
    <label>Amount Branches</label>
    <input #valueInput [value]="branches"
           type="number"
           min="1"
           max="1000000000"
           (change)="setBranches(valueInput.value)">
  </div>
  <div class="buttons">
    <button (click)="start()">Start</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Metric</th>
      <th>ops/s</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>With branches</td>
      <td>{{ withBranchesRuntime }}</td>
    </tr>
    <tr>
      <td>Branchless</td>
      <td>{{ branchlessRuntime }}</td>
    </tr>
    <tr>
      <td>With branches (looped)</td>
      <td>{{ withBranchesLoopedRuntime }}</td>
    </tr>
    <tr>
      <td>Branchless (looped)</td>
      <td>{{ branchlessLoopedRuntime }}</td>
    </tr>
    </tbody>
  </table>
</div>
