<h2 class="title">Prioritize work</h2>
<div class="example">
  <div>
    <label for="workInput">Work</label>
    <input
      id="workInput"
      [value]="initialWork"
      #workInput
      (change)="setWork(workInput.value)"
      min="1"
      max="1000"
      type="number" />
  </div>
  <div class="container">
    <div class="sidebar">
      Sidebar
      <pp-work [work]="sidebarWork$ | async"></pp-work>
    </div>
    <div class="header">
      Header
      <pp-work [work]="headerWork$ | async"></pp-work>
    </div>
    <div class="content">
      Content
      <pp-work [work]="contentWork$ | async"></pp-work>
    </div>
    <div class="footer">
      Footer
      <pp-work [work]="footerWork$ | async"></pp-work>
    </div>
  </div>
</div>
